.centered {
    text-align: center;
}

body {
    background-color: black;
    color: white;
}
div.document {
    background-color: white;
}

.wy-nav-content-wrap {
    background-color: white;
}

.wy-nav-top{display:block}


@media screen and (max-width: 900px) {
    .wy-nav-top {
        position: sticky;
        top: 0;
    }
}