.wy-body-for-nav {
    position: relative;
}

.centered {
    text-align: center;
}

body {
    background-color: black;
    color: white;
}
div.document {
    background-color: white;
}

.wy-nav-content-wrap {
    background-color: white;
}

.wy-nav-top{display:none}


@media screen and (max-width: 800px) {
    .wy-nav-top {
        display: block;
        position: sticky;
        top: 0;
    }
}